* {
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homepage {
    height: 100dvh;
}

.main-content {
    background-image: linear-gradient(
        80.18deg,
        rgba(33, 37, 96, 0.95) 0%,
        rgba(81, 115, 185, 0.95) 100%
    );
}

a {
    text-decoration: none;
}

.main-content {
    background-image: linear-gradient(
        80.18deg,
        rgba(33, 37, 96, 0.95) 0%,
        rgba(81, 115, 185, 0.95) 100%
    );
}
